 /*background color of whole page*/
 html{
 	background-color: white;  
 }
 body{
 	background-color: #ede6e6; /*refer to w3 skool color picker and get the hex no */
    margin:0 auto;/* top bottom is zero, from left right is auto,to keep the contant in middle*/
    width: 960px;
    font-family: arial, helvetica, sans-serif;
 }
 /* styling the links*/
 a{
 	text-decoration: none; /* remove the underlines*/
 	color: #373535;
 }
/* HEADER */
header{
    height: 150px;
	padding-top: 20px;
}
ul{
	padding: 0;
}
li{
	display: inline;
	padding: 10px;
	font-size: 16px;
}
/* border between the two links in right and left side */
header li:first-child{
	border-right: 1px solid #373535;
}/* first child is first list iteam in any list */
.left {
	width: 320px;/* division 1/3 */
	float: left;
}
.right{
	width: 320px;
	float: right;
}
.left ul{
	padding-left:30px; 
	padding-top:90px; 
}
 .right ul   {
	float: right;
	padding-right:30px;
	padding-top:90px;
}
#logo{
	width: 320px;
	float: left;
	text-align: center;
	color: #b46363;
	font-size: 36px;
}
#logo p{
	margin: 0;
}